body {
    position: relative;
    min-width: 1366px;
    min-height: 100vh;
}
.clearfix:after {
    content:"";
    display:block;
    clear:both;
}
.max-width {
    max-width: 1200px;
    box-sizing: border-box;
}
.box-center {
    margin: 0 auto;
}
.fleft {
    float: left;
}
.fright {
    float: right;
}
.text-center {
    text-align: center;
}
/*顶部导航*/
.header {
    padding: 30px 0;
}
.header .logo {
    float: left;
    width: 178px;
    height: 56px;
    background: url("../images/logo.png") no-repeat;
    -webkit-background-size: 178px 56px;
    background-size: 178px 56px;
    background-position: center;
    margin-left: 72px;
}
.header .nav {
    float: right;
    margin-right: 52px;
}
.header .nav .nav-item{
    float: left;
    padding: 14px 16px;
    text-align: center;
    font-size: 18px;
}
.header .nav .nav-item:hover {
    color: #BB2C21;
}
.header .nav .nav-item.active {
    position: relative;
    color: #BB2C21;
}
.header .nav .nav-item.active:after {
    position: absolute;
    bottom: 0px;
    left: 0px;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #BB2C21;
}

/*内页*/
.inner-banner img{
    width: 100%;
}
.inner-wrap {
    margin-top: 45px;
    padding-bottom: 40px;
}
/*内页垂直导航*/
.inner-wrap .vertical-nav {

}
.inner-wrap .vertical-nav .menu{
    font-size: 18px;
    color: #000;
    cursor: pointer;
}
.inner-wrap .vertical-nav .menu .menu-item {
    position: relative;
    width: 180px;
    text-align: center;
    line-height: 60px;
}
.inner-wrap .vertical-nav .menu .menu-item.active {
    background-color: #BB2C21;
    color: #fff;
}
.inner-wrap .vertical-nav .menu .menu-item .arrow {
    position: absolute;
    top: 0;
    right: 13px;
}
.inner-wrap .vertical-nav .menu .menu-item .sub-menu {
    background-color: #fff;
    color: #000;
    font-size: 14px;
}
.inner-wrap .vertical-nav .menu .menu-item .sub-menu .sub-menu-item.active {
    color: #BB2C21;
}
/*内页正文*/
.inner-wrap .content,.form {
    width: 900px;
    margin-left: 90px;
}
.inner-wrap .content .text {
    color: #696A69;
    font-size: 18px;
    line-height: 48px;
    font-weight: bold;
}
.inner-wrap .content .text-img {
    font-size: 18px;
    color: #696A69;
    line-height:48px;
    font-weight: bold;
}
.inner-wrap .content .text-img img {
    float: right;
    margin-left: 30px;
}
.inner-wrap .form .form-item {
    width: 280px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid #bfbfbf;
    margin-left: 50px;
    margin-bottom: 30px;
}
.inner-wrap .form .form-item .icon {
    margin-top: 12px;
    margin-left: 14px;
    width: 22px;
}
.inner-wrap .form .form-item .line {
    width: 1px;
    height: 18px;
    background-color: #bfbfbf;
    margin-left: 10px;
    margin-top: 15px;
}
.inner-wrap .form .form-item .input{
    width: 200px;
    height: 30px;
    margin-left: 10px;
    margin-top: 8px;
    border: none;
    background-color: #fff;
}
.inner-wrap .form .btn {
    width: 195px;
    height: 50px;
    border-radius: 3px;
    background-color: #bb2c21;
    color: #fff;
    line-height: 50px;
    text-align: center;
    margin-left: 255px;
    margin-top: 10px;
}
/*底部*/
.footer-records {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: #2B2B2B;
    color: #999;
    font-size: 12px;
    padding: 10px 0;
}