body {
    min-width: 1366px;
    min-height: 100vh;
}
.clearfix:after {
    content:"";
    display:block;
    clear:both;
}
.max-width {
    max-width: 1200px;
    box-sizing: border-box;
}
.box-center {
    margin: 0 auto;
}
.fleft {
    float: left;
}
.fright {
    float: right;
}
.text-center {
    text-align: center;
}
/*顶部导航*/
.header {
    padding: 30px 0;
}
.header .logo {
    float: left;
    width: 178px;
    height: 56px;
    background: url("../images/logo.png") no-repeat;
    -webkit-background-size: 178px 56px;
    background-size: 178px 56px;
    background-position: center;
    margin-left: 72px;
}
.header .nav {
    float: right;
    margin-right: 52px;
}
.header .nav .nav-item{
    float: left;
    padding: 14px 16px;
    text-align: center;
    font-size: 18px;
}
.header .nav .nav-item:hover {
    color: #BB2C21;
}
.header .nav .nav-item.native {
    position: relative;
    color: #BB2C21;
}
.header .nav .nav-item.native:after {
    position: absolute;
    bottom: 0px;
    left: 0px;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #BB2C21;
}

/*底部*/
.footer {
    padding-top: 55px;
    background-color: #2B2B2B;
}
.footer .partner-title {
    text-align: center;
    color: #FFFEFE;
    margin-left: 160px;
}
.footer .partner-title .text:after {
    display: inline-block;
    content: '';
    width: 50px;
    height: 1px;
    background-color: #FFFEFE;
    margin-left: 10px;
    margin-bottom: 5px;
}
.footer .partner-title .text:before {
    display: inline-block;
    content: '';
    width: 50px;
    height: 1px;
    background-color: #FFFEFE;
    margin-right: 10px;
    margin-bottom: 5px;
}
.footer .footer-wrap {
    padding-bottom: 24px;
    width: 100%;
}
.footer .footer-wrap .qrcode {
    margin-top: 20px;
}
.footer .footer-wrap .qrcode img{
    width: 150px;
}
.footer .partner {
    width: 700px;
    margin-top: 33px;
    margin-left: 197px;
}

.footer .partner img{
    width: 150px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.footer .footer-records {
    color: #999;
    font-size: 12px;
    padding-bottom: 10px;
}